
        <main class="form-signin w-100 m-auto" >
            <form style="margin: 30px 0px 30px 0px;">
                <h1 class="h3 mb-3 fw-normal">Đăng Ký</h1>
              
                <div class="form-floating">
                  <input type="text" class="form-control" id="fullName" placeholder="Họ và tên">
                  <label for="fullName">Họ và tên</label>
                </div>
              <br>
                <div class="form-floating">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Email address</label>
                </div>
                <br>
              
                <div class="form-floating">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
                </div>
                <br>
              
                <div class="form-floating">
                  <input type="tel" class="form-control" id="phoneNumber" placeholder="Nhập số điện thoại">
                  <label for="phoneNumber">Số điện thoại:</label>
                </div>
                <br>
              
                <div class="form-group">
                  <select class="form-control" id="gender">
                    <option value="">Chọn giới tính</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                  </select>
                </div>
              
                <div class="form-check text-start my-3">
                  <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                  </label>
                </div>
              
                <button class="btn btn-primary w-100 py-2" type="submit">Đăng Ký</button>
              </form>
              
          </main>
