<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="img/banner1.jpg" class="d-block w-100" alt="img/banner1.jpg">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="img/banner2.jpg" class="d-block w-100" alt="img/banner2.jpg">
        </div>
        <div class="carousel-item">
            <img src="img/banner3.jpg" class="d-block w-100" alt="img/banner3.jpg">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row" style="margin: 20px 0 10px 0;">
    <div class="col-sm-4">
        <section class="khoa-hoc">
            <img src="img/image1.jpg" style="width: 100%;border-radius: 50%;" alt="">
            <h2>Khóa học cài đặt hệ điều hành, phần mềm & Tháo lắp Laptop, PC, MacBook & Lắp đặt hệ thống mạng
            </h2>
            <p>Chuyên đào tạo và cung cấp đầy đủ những kiến thức, kỹ năng cơ bản về máy tính, laptop. Đan xen
                chặt chẽ giữa lý thuyết và thực hành. Được đi thực tập tại hệ thống sửa chữa máy tính uy tín.
            </p>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="khoa-hoc">
            <img src="img/image1.jpg" style="width: 100%;border-radius: 50%;" alt="">
            <h2>Khóa học Điện từ Cơ bản Laptop</h2>
            <p>Chuyên đào tạo các kiến thức chuyên sâu về phần cứng Laptop MacBook. Đan xen chất chẽ giữa lý
                thuyết và thực hành. Được đi thực tập tại hệ thống sửa chữa máy tính uy tín.</p>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="khoa-hoc">
            <img src="img/image1.jpg" style="width: 100%;border-radius: 50%;" alt="">
            <h2>Khóa học cài đặt hệ điều hành, phần mềm & Tháo lắp Laptop, PC, MacBook & Lắp đặt hệ thống mạng
            </h2>
            <h2>Khóa học Sửa Laptop Chuyên Nghiệp</h2>
            <p>Chuyên đào tạo kỹ năng nhận biết và sửa chữa các linh kiện điện tử cơ bản. Đan xen chất chẽ giữa
                lý thuyết và thực hành. Được đi thực tập tại hệ thống sửa chữa máy tính uy tín.</p>
        </section>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-4">
        <section class="khoa-hoc">
            <img src="img/image1.jpg" style="width: 100%;border-radius: 50%;" alt="">
            <h2>Khóa học cài đặt hệ điều hành, phần mềm & Tháo lắp Laptop, PC, MacBook & Lắp đặt hệ thống mạng
            </h2>
            <p>Chuyên đào tạo và cung cấp đầy đủ những kiến thức, kỹ năng cơ bản về máy tính, laptop. Đan xen
                chặt chẽ giữa lý thuyết và thực hành. Được đi thực tập tại hệ thống sửa chữa máy tính uy tín.
            </p>
        </section>
    </div>
    <div class="col-sm-4">
        <section class="khoa-hoc">
            <img src="img/image1.jpg" style="width: 100%;border-radius: 50%;" alt="">
            <h2>Khóa học Điện từ Cơ bản Laptop</h2>
            <p>Chuyên đào tạo các kiến thức chuyên sâu về phần cứng Laptop MacBook. Đan xen chất chẽ giữa lý
                thuyết và thực hành. Được đi thực tập tại hệ thống sửa chữa máy tính uy tín.</p>
        </section>
    </div>
</div>